*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
/*body*/
.Home{
color:black;
line-height: 1.5em;

}

.container{
max-width: 1100px;
margin: 0 auto;/*middle*/
padding: 0 30px;
}

/*nav bar*/

.nav-bar .container{
display:flex;
align-items: center;
justify-content: space-between;
}

.logo{
width:78.97px;
height:23px;
}

.menuHome{
display: flex;
margin-left: 20px;
}

.work{
font-weight: 400;
font-size: 14px;
width: 41px;
padding: 0 20px;
}

.menu{display: flex;
font-weight: 400;
font-size: 14px;
width: 36px;
Height: 19px;
padding: 0 25px;
}

.menu,.c3{
margin-left: 5px;
}

/*header*/
#content .container{ 
align-items: left;
margin-top: 50px;
font-style: normal;
font-weight: 500;
font-size: 64px;
height: 87px;
line-height: 87px;
}

.text1{
letter-spacing: 0em;
text-align: left; 
color: #000; 
}

.text2{
color: rgba(51, 51, 51, 0.6);
}

.text3{

font-style: normal;
font-weight: 500;
color: rgba(51, 51, 51, 0.6);
}

a.ellipse{
border-radius: 60% ;
border: 2px solid rgba(253, 90, 31, 0.8);
position: absolute;
width: 538.34px;
height: 103.42px;
box-sizing: border-box;
transform: matrix(0.99, -0.15, 0.17, 0.99, 0, 0);
}
a.ellipse1 {
position: absolute;
width: 548.34px;
height: 103.42px;
border: 2.51px solid rgba(253, 90, 31, 0.8);
border-radius: 60%;
box-sizing: border-box;
transform: matrix(1, -0.02, -0.01, 1, 0, 0);
}
.main-elip{
margin-top: -120px;
margin-left: 50px;
}
/*   display: grid;
gap:20px;
grid-template-rows: repeat(4, 1fr);use it for its media queries 
*/
/*partners*/
.partners .container{
margin:auto;
margin-top: 180px;
}

.partner{
margin-top: 280px;
width:1160px; 
} 

/*showreel*/
.image .container{
margin-top: 130px;
display: flex;
justify-content: center;
}
.showbg{
align-items: center;
justify-content:center;
display: flex;

}

.show-text{
align-items: center;
justify-content:center;
display: flex;
}

.play{
position: absolute;
height: 125.81px;
width: 125.8px;
border-radius: 50% ;
border: 2px solid hsl(0, 0%, 100%);
margin-top: -40px;
margin-left: -650px;
background: white;
border-image: round;

}
p.show-txt{
color: #fff;
position: absolute;
margin-left:-1280px;
padding-top: 30px;
margin-top: 80px;
margin-bottom:auto;
font-size: 64px;
font-weight: 500;
line-height: 87px;
letter-spacing: 0em;
text-decoration: none;
}

/*after showreel*/
.bg{
display:flex;
}

.bcg1{
background-color: #000;
margin-top:120px;
width: 145px;
height: 575px;

}

/*Image slider*/
.slider-container{
display: flex;
height: 100%;
transform: rotate(90deg) translateY(-100vh);
transform-origin: top left;
}
.wrapper {
width:100vh;
height: 100vw;
transform: rotate(-90deg) translateX(-100vh);
transform-origin: top left;
overflow-y: scroll;
overflow-x: hidden;
position: absolute;
scrollbar-width: none;
-ms-overflow-style: none;
}
::-webkit-scrollbar {
display: none;
}
/*          
/*Acceleration*/
.startup{
display: flex;
justify-content: center;
margin-top: 300px;

}
.startup-text{
align-items: center;
justify-content:center;
display: flex;
margin-top: 50px;
}
.c4 {
margin-left: -1300px;
position: absolute;
padding: 40px;
color: #fff;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 65px;
}

.c5{
padding-top: 30px;
margin-top: 67px;
margin-left: -1288px;
position: absolute;
color: #fff;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
}

/*after acceleration*/
.notes .container{ 
display: flex;
justify-content: space-between;
position: absolute;
height: 300px;
min-width: 1362px;
background-color: #000;
}
.flex{
display: flex;
padding:25px 10px;
margin-top: 20px;
color: #f1f1f1;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 32px;
}


/*OUR work*/
.work .container{
margin-top: 400px;
align-items: center;
justify-content: center;
}
.Mainwork{
position: absolute;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 87px;
color: black;

}
.works{
padding-top: 50px;
position: absolute;
color: #333;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 49px;
}

.images,.image-container{
display: flex;
margin-top: 2120px;
}

/*buttton for project*/
.buttonC{
display: flex;
align-items: center;
margin-top: 710px;
margin-left: 480px;
}
.button{
display: inline-flex;
align-items: center;
position: absolute;
width: 256px;
height: 68px;
border: 1px solid #000000;
box-sizing: border-box;
}

.p{ 
text-align: left;
padding-left: 10px;
padding-right: 50px;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
color: #000000;
}

/*culture*/

.culture .container{
display: flex;
justify-content:space-between;
align-items: center;
margin-top: 150px;
}

.mainP{
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 87px;
}

.p2{
width: 500px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
}

.cultureImage{
margin-left: 34px;
}


/*images*/
.manyImages .container{
margin: 0;
display: flex;
}

.img1{
margin-top: 338px;
margin-left: -283px;

}
.img2{
margin-top: 238px;

}
.img3{
margin-top: 338px;
margin-left: -80px;

}

/*footer*/

.footer{
background-color: #000; 
min-height: 470px;
margin-top: 90px;
}
.line2{
position:absolute;
width: 1000px;
margin-top: 70px;
border: 1px solid white;
}
.idea{
color:white;
font-weight: 200;
font-size: 72px;
line-height: 98px;
padding-top: 70px;
}

.aside{
display:flex;
}
.talk{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 200;
font-size: 25px;
line-height: 51px;
text-decoration-line: underline;
color: #FFFFFF;
}
.media{
display: grid;
grid-template-columns:repeat(4, 2fr);
grid-template-rows: minmax(50px, auto);
justify-content: space-around;
grid-gap: 5px;
color: #fff;

}
.media,.handles{
margin-left: 500px;
}

.line1{
position:absolute;
width: 1000px;
margin-top: 100px;
border: 1px solid white;
}


.lastF > .chats{

background:#ffff;
border-radius: 40% ;
border: 2px solid hsl(0, 0%, 100%);
}

.msg{
margin-left: 950px;
margin-top: 60px;
}

.footer.container{
display: flex;
align-items: center;
justify-content: space-between;
}


@media(max-width: 993px) and (min-width:529px){
.nav-bar .container{
display:flex;
flex: 0 1 0;
}
.partners .container{
margin:auto;
margin-top: 420px;
}
.partner{
margin-bottom: 50px;
}

.show{
width: max-content;

}
p.show-txt{
margin-top: 100px;
padding-top: 100px;
text-align: center;
}
.bg,
.bcg1{
width:max-content;
}
.wrapper{
height: 400vw;
}
.startup{
width: max-content;
margin-left: 138px;
}
.c4 {width:700px;
text-align: center;
font-weight: 300;
font-size:29px;
}
.notes .container{ 
display: block;
}
.n3{
display: none;
}

.images,.image-container{
margin-bottom: 50px;
display: flex;
flex: 0 1 0;
margin-top: 2320px;
}
.buttonC{
padding-top:100px;
}
.culture .container {
flex-direction: column;
margin-right: -400px;
align-items: center;
padding-top: 50px;

}
.p2{
font-size: 28px;
width:700px;
}
.cultureImage{ 
margin-left: -50px;
margin-top: 40px;
}

.footer{
    width:auto;
    flex-direction: column;
}

.line2,.line1{
width: 600px;
position:absolute;
}

.idea{
font-weight: 200;
margin:0 20px;
margin-top: 40px;
}
.talk{
margin:0 20px;
}
.media{
gap:2px;
margin-left:0px;
}
.media,.handles{
margin-left: 100px;
}
.msg{
margin-left:500px;
}
}
/* 
@media(max-width: 529px) and (min-width: 320px) {
.nav-bar .container{
display:flex;
flex: 0 1 0;
}
#content .container{
    width:550px;
    font-size: 44px;
    min-height: 20px;
}
.main-elip{
    display: none;
}
.partners .container{
margin:auto;
margin-top: 150px;
overflow: hidden;
}
.partner{
margin-bottom: 50px;
}

.show{
width: auto;

}
p.show-txt{
margin-top: 100px;
padding-top: 100px;
text-align: center;
}
.bg,
.bcg1{
width: auto ;  /*max-content*/
/* }
.wrapper{
height: 400vw;
}
.startup{
width: auto;
margin-left: 138px;
} */
/* .c4 {width:700px;
margin-bottom: 50px;
text-align: center;
font-weight: 300;
font-size:29px;
}
.c5{
width: 500px
}
.notes .container{ 
display: block;
height:200px;
}
.n3, 
.n2{
display: none;
}

.work .container{
margin-top: 300px;
margin-bottom: 50px;

}
.images,.image-container{
margin-bottom: 50px;
display: flex;
flex: 0 1 0;
margin-top: 2320px;
}
.buttonC{
padding-top:100px;
}
.culture .container {
flex-direction: column;
margin-right: -400px;
align-items: center;
padding-top: 50px;

}
.p2{
font-size: 28px;
width:700px;
}
.cultureImage{ 
margin-left: -50px;
margin-top: 40px;
}

.footer{
width:auto;
flex-direction: column;
}

.line2{
width: 400px;
position:absolute;
} */
/* .line1{
margin-top: 0px;
width: 400px;
position:absolute;
}

.idea{
font-size: 34px;
font-weight: 350;
width:auto;
margin:0 20px;
margin-top: 40px;}

.aside {
display: block;
}
.media{
color: white;
padding-left:20px;
gap:2px;
margin-left:0px;
padding-bottom: 5px;
} 
.msg{
margin-left:250px;}
} */ */

/* @media(max-width: 768px){

div #content{ 
font-size: 44px;
height: 37px;
line-height: 50px;
} 
a.ellipse,a.ellipse1{width: 438px;
top:795;}
.partners{
width:auto;
}
div>.play{
align-self:center;
left:325px;}
p.show-text{
line-height: 47px;
left: 250px;
}
.showbg{
width:auto;/*700*/
/* }
.startup{
width:auto;
}
.c4, .c5{
left:auto; /*185*/
/* }
.notes{
grid-template-columns:1fr;
flex-wrap: wrap;
gap: 0px;
}
.flex{  padding:10px;
margin-top: 20px;
}

.images{
display:flex;
flex: 0 1 0;
}

.button{
left: 325px;/*325*/
/* }
.culture{
display:flex;
flex: 0 1 0;
}

.cultureImage{
max-width: 50%;
}

.manyImages{
flex: 0 1 0;
}
.footer{


flex: 0 1 0;
}

}  */
